{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <div class="container">
    <div class="row">
        <br>
        <br>
    </div>
    <div class="row">

  <h2>Create Group</h2>
        <div class="col-md-6 offset-3">
            <form method="post">
                {% csrf_token %}
              <div class="form-group">
                <label for="name">Group name</label>
                <input type="text" class="form-control" name="name" id='name' aria-describedby="emailHelp" placeholder="Enter group name" required>
              </div>
              <div class="form-group">
                <label for="privacy">Privacy</label>
                <select name="privacy"  class="form-control" id="privacy">
                  <option value="private">Private</option>
                  <option value="public">Public</option>
                </select>
              </div>

               <input type="number" name="admin" id="admin" hidden value=1>
              <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
            <p><a href="../../logout">logout</a></p>
        </div>
    </div>
    </div>
{% else %}
   <p><a href="../../">Login Here</a></p>
{% endif %}
{% endblock %}
